# Project exclude paths
/target/
/.idea/
/SimbirsoftTestTask.iml
/src/main/java/rafikov/uniqueWords/TestingDir/
/src/main/java/rafikov/uniqueWords/testing/
/sites/
/src/test/java/Main.java
/db/
/logs/
/resources/
